* {
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    display: grid;
    grid-template-columns: 83% 5% 5% 3% 3%;
    gap: 2px;
    align-items: end;
}

.gmail{
    
    grid-column: 2;
    justify-self: end;
}

.imagenes{
    
    grid-column: 3;
    justify-self: end;
}

.gridcuadricula{
    
    grid-column: 4;
    justify-self: end;
}

.gridprofile{
    
    grid-column: 5;
    justify-self: end;
    border-radius: 50%;
}

/*Imágenes*/
.cuadricula{
    width: 30px;
    height: 30px;
}

.profile{
    width: 30px;
    height: 30px;
}

/*Header fin*/

.logo{
    width: 290px;
    height: 150px;
}

/*Main*/

main{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto auto;
}

.container-mx {
    background-color: #f1f1f1;
    height: 20%;
}
.container-1 {
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 60% 40%;
   
}
.bloqueizq {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-around;
}
.bloqueder {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
}



