* {
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    display: grid;
    grid-template-columns: 83% 5% 5% 3% 3%;
    gap: 2px;
    align-items: end;
}

.gmail{
    
    grid-column: 2;
    justify-self: end;
}

.imagenes{
    
    grid-column: 3;
    justify-self: end;
}

.gridcuadricula{
    
    grid-column: 4;
    justify-self: end;
}

.gridprofile{
    
    grid-column: 5;
    justify-self: end;
    border-radius: 50%;
}

/*Imágenes*/
.cuadricula{
    width: 30px;
    height: 30px;
}

.profile{
    width: 30px;
    height: 30px;
}

/*Header fin*/

.logo{
    width: 530px;
    height: 200px;
}

/*Main*/

main{
    display: grid;
    grid-template-rows: 200px 
                        200px 
                        250px;
    grid-template-columns: 500px 535.7px 500px;
    gap: 2px;
}

.element5{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    align-content: center;
}

.element8{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 1px solid #020202;
}

.inputgrid{
    display: grid;
    grid-template-columns: 178.56px 178.56px 178.56px;
    grid-template-rows: 83.33px 83.33px 83.33px;
}

.elementInput{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 1px solid #020202;
}

/*
.logo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    background-color: aqua;

}

.btnInputs{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3;
    align-items: center;
    background-color: red;
}*/

.container-mx {
    background-color: #f1f1f1;
    height: 20%;
}
.container-1 {
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 60% 40%;
   
}
.bloqueizq {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-around;
}
.bloqueder {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
}



